@model string

<div asp-validation-summary="All" class="text-danger"></div>
<br />
<br />
<br />
<br />
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">New role</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<br />
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>