@model IEnumerable<DAL.User>
 
<br />
<br />
<br />
<h2>List of users</h2>
<br />
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Rights</a>
            </td>
        </tr>
    }
</table>
<br />
<div>
    @Html.ActionLink("Back to List of roles", "Index")
</div>